body{
    background-image: url("t.jpg");
    background-size: cover;
   }
.ty{

    text-align: center;
}
.data{
    width: 300px;
    border: 7px solid black;
    background-color: antiquewhite;
    padding: 40px;
    margin: 10px;
margin-left: 7%;
text-align:center;
border-radius: 12px;


}
.title1{
    text-align: center;
}

.done{
    margin-top: 2%;
    position: absolute;
    width: 30%;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:aliceblue;
    border-radius: 12px;
}
.done button{
    margin-left: 20%;
    margin-bottom: 10%;
    width: 300px;
    height: 50px;
    color: black;
    border-radius: 12px;
}
.title{
    margin-top: 2%;
    margin-left: 1%;
    width: 98%;
    height: 10%;
    text-align: center;
    border: 1px solid white;
    background-color: aliceblue;
    border-radius: 12px;
}
.home{
    margin-left: 20%;
}

.home button{
    
    margin-top: 1%;
    font-family: verdana;
    width: 40%;
    height: 50px;
    border-radius: 12px;
    padding: 14px 40px;
    background-color:antiquewhite;
}
.home button:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.home button:active{
    
    
    transform: translateY(4px);
}
