body{
    background-image: url("t.jpg");
    background-size: cover;
   }
   
.home{
    text-align: center;
    color :rgb(7, 5, 1);
}
.main{
  
    position: absolute;
    width: 30%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 12px;
    background-color: aliceblue;
}
.title{
    margin-top: 2%;
    margin-left: 1%;
    width: 98%;
    height: 10%;
    text-align: center;
    border-radius: 12px;
    border: 1px solid white;
    background-color: aliceblue;
}
/* .book{
    width: 300px;
    border: 7px solid black;
    background-color: antiquewhite;
    padding: 40px;
    margin: 10px;
margin-left: 12%;
text-align:center;
border-radius: 12px;
} */

.book button{
    
    font-family: verdana;
    width: 300px;
    height: 50px;
    border-radius: 12px;
    padding: 14px 40px;
    background-color:rgb(255, 255, 208);
    
}
.book button:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.book button:active{
    
    
    transform: translateY(4px);
}
