body{
    background-image: url("5.jpg");
    background-size: cover;
   }
   input {
    width: 10%;
    height: 25px;
    padding-left: 20px;
    border-radius: 5px;
    color:dimgray;
    border: 1px solid black;
    background-color:white;
}
.title{
    margin-top: 2%;
    margin-left: 1%;
    width: 98%;
    height: 10%;
    text-align: center;
    border: 1px solid white;
    background-color: aliceblue;
    border-radius: 12px;
}
.main{
    text-align: center;
    margin-top: 5%;
    position:absolute;
    width: 65%  ;
    height: 73%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background-color: rgb(255, 255, 255); */
}
.msg{
    background-color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 5%;
    position:absolute;
    width: 65%  ;
    height: 73%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: red;
}
.mg{
    margin-top: 25%;
}

.abc{
    margin-top: 2%;
    text-align: center;
    align-items: center;
}

.abc button{
    font-family: verdana;
    width: 200px;
    height: 30px;
    border-radius: 12px;
   
    background-color:rgb(255, 255, 208);

}

.abc button:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.abc button:active{
    
    
    transform: translateY(4px);
}


.home button{
    margin-top: 2%;
    font-family: verdana;
    width: 300px;
    height: 50px;
    border-radius: 12px;
    padding: 14px 40px;
    background-color:rgb(255, 255, 208);
}
.home button:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.home button:active{
    
    
    transform: translateY(4px);
}
.book-button{
    background-color:rgb(255, 255, 208);
    border-radius: 12px;
}
.book button{
    margin-top:4%;
    font-family: verdana;
    width: 300px;
    height: 50px;
    border-radius: 12px;
    padding: 14px 40px;
    background-color:rgb(255, 255, 208);
}
.book-button:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.book-button:active{
    
    
    transform: translateY(4px);
}