<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
    <link rel="stylesheet" href="/static/home.css">
</head>


<body>
    <div class = "title">
        <h1> RAILWAY RESERVATION SYSTEM </h1>
    </div>
    <div class ="home" >
        <div class="main">
            <br>

            <div class="book">
                <h1>WELCOME TO RAILWAY RESERVATION SYSTEM</h1>
                <br><br>
                
                <form method="post">
                <button type="book" name="booking">TICKET RESERVATION</button>
                <br><br>
                
                <br>
                <button type="train" name="trains">TRAIN SCHEDULE</button>
            </form>
        <br><br><br>
    </div>
    </div>
    </div>
</body>
</html>